---
layout: nil
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
  {%- comment -%}
  Head include from Minima provides SEO tags, stylesheet, and assets.
  {%- endcomment -%}
  {%- include head.html -%}
  <body>
    {%- comment -%}
    Custom header overrides Minima's navigation-heavy version.
    {%- endcomment -%}
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
  </body>
  </html>
